

.box{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    margin: 200px;
}

.description-box{
color: aqua;
}

.pirce-box{
color: red;

}

.title{
border:1px solid black ;
width: 300px;
height: 60vh;
}

