footer{
    background-color: rgb(40, 83, 40);
    color: white;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 5vh;
}

.ghLogo{
    height:60px;
}

.ghLogo:hover{
    scale:1.05;
    transition: 1s;
}